*, *::before, *::after{ box-sizing: border-box; }
*{ margin:0; }

body{
    background-color: #f8f9fa;
    color: #333;
    min-height: 100dvh;
    padding: 5rem 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    display:flex;
    gap: 4rem;
    height: calc(100dvh - 10rem);
    justify-content: center;

}

.left, .right{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right{
    border-left: 5px solid #333;
    padding:2rem;
    gap: 10px;
}

label{
    display: block;
    font-size: .95rem;
    color: #666;
    margin-bottom: 10px;
}

input, select{
    padding: 14px 12px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 12px;
}

button{
    padding: 16px 14px;
    border: 2px solid #333;
    background-color: #34C759;
    color: #f8f9fa;
    text-transform: uppercase;
    font-size: 1.3rem;
    border-radius: 16px;
    width: 100%;
    font-weight: 900;
}

button:hover{
    background-color: #54e779;
}

button:active{
    background-color: #14a739;
}

ul{
    list-style-type: "â˜ ";
}

.item{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: 1.45rem;
    padding: 15px 12px;
    border: 2px solid #888;
    background-color: #2e2e2e;
    color: #f8f9fa;
    border-radius: 12px;
}

.item-description{
    min-width: 200px;
}

.in-cart{
    color: #54e779; 
}

.bi{
    cursor: pointer;
}

.delete-icon, .add-icon{
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    border-radius: 20px;
    border: 2px solid;
}

.delete-icon{
    border-color: #ff3830;
    color: #ff3830;
}

.add-icon{
    border-color: #34C759;
}

.item > * {
    align-content: center;
}